{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
<div class="tyn-root">
    <div class="tyn-content tyn-auth tyn-auth-centered">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-7 col-sm-9">
                    {% include 'includes/logo_body.html' %}
                    <div class="card border-0">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="p-4">
                                <h3>Login</h3>
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label" for="email-address">Email Address</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="email-address" placeholder="youremail@example.com" name="login">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label d-flex" for="password">Password <a href="{% url 'account_reset_password' %}" class="link link-primary ms-auto">Forgot ?</a></label>
                                            <div class="form-control-wrap">
                                                <input type="password" class="form-control" id="password" placeholder="password" name="password">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Error messages section -->
                                    {% if form.non_field_errors %}
                                    <div class="error-messages">
                                        <ul>
                                            {% for error in form.non_field_errors %}
                                            <li style="color: red;">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                    {% for field in form.visible_fields %}
                                    {% if field.errors %}
                                    <div class="error-messages">
                                        <ul>
                                            {% for error in field.errors %}
                                            <li style="color: red;">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    <!-- End of error messages section -->

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Account Login</button>
                                    </div>
                                </div><!-- .row -->
                            </div>
                        </form>
                        <div class="p-4 border-top border-light">
                            <h6 class="tyn-title-overline text-center pb-1">Or Use With</h6>
                            <ul class="d-flex gap gap-3">
                                <form method="post" action="{% url 'google_login' %}">
                                    {% csrf_token %}
                                    <li class="flex-grow-1">
                                        <button type="submit" class="btn btn-light w-100">
                                            <!-- google -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                            </svg>
                                            <span>Google</span>
                                        </button>
                                    </li>
                                </form>
                                <form method="post" action="{% url 'github_login' %}">
                                    {% csrf_token %}
                                    <li class="flex-grow-1">
                                        <button type="submit" class="btn btn-light w-100">
                                            <!-- github -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 0C3.582 0 0 3.582 0 8c0 3.535 2.281 6.531 5.447 7.59.398.074.546-.172.546-.385 0-.19-.007-.693-.01-1.36-2.222.482-2.687-1.068-2.687-1.068-.363-.923-.886-1.168-.886-1.168-.724-.495.055-.486.055-.486.803.057 1.225.826 1.225.826.714 1.22 1.872.867 2.327.663.072-.517.28-.868.508-1.067-1.777-.203-3.644-.888-3.644-3.953 0-.874.312-1.588.824-2.147-.083-.203-.36-1.016.079-2.118 0 0 .672-.215 2.2.82.638-.178 1.318-.267 1.994-.271.676.004 1.357.093 1.994.271 1.527-1.035 2.198-.82 2.198-.82.44 1.102.164 1.915.08 2.118.513.559.824 1.273.824 2.147 0 3.073-1.87 3.747-3.648 3.947.287.247.543.733.543 1.481 0 1.07-.01 1.933-.01 2.197 0 .213.145.463.549.384C13.725 14.53 16 11.534 16 8c0-4.418-3.582-8-8-8z" />
                                            </svg>
                                            <span>GitHub</span>
                                        </button>
                                    </li>
                                </form>
                            </ul>
                        </div>
                    </div><!-- .card -->
                    <div class="text-center mt-4">
                        <p class="small">Don't have an account? <a href="{% url 'account_signup' %}">Register</a></p>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
</div>
{% endblock %}
