
{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load account %}
{% block content %}


<div class="tyn-content tyn-auth tyn-auth-centered">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-7 col-sm-9">
                {% include 'includes/logo_body.html' %}
                <div class="card border-0">
                    <div class="p-4">
                        <h3>Change Password</h3>

                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label" for="password">New Password</label>
                                    <div class="form-control-wrap">
                                        <input type="password" class="form-control" id="password" placeholder="password" name="password1">
                                    </div>
                                </div>
                            </div><!-- .col -->

                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label" for="repeat-password">New Password (again)</label>
                                    <div class="form-control-wrap">
                                        <input type="password" class="form-control" id="repeat-password" placeholder="password again" name="password2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary w-100">Change Password</button>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </form>
                    </div>
                </div><!-- .card -->
                <div class="mt-4">
                    <p class="small">Forgot Password? <a href="{% url 'account_reset_password' %}">Recover Password</a></p>
                </div>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div>


{% endblock %}

