<div class="tyn-content tyn-content-full-height tyn-chatbot tyn-chatbot-page has-aside-base">
    <div class="tyn-aside tyn-aside-base">
        <div class="tyn-aside-head">
            <div class="tyn-aside-head-text">
                <h3 class="tyn-aside-title tyn-title">Chat Archive</h3>
                <span class="tyn-subtext">Your Recent Conversations </span>
            </div>
            <div class="tyn-aside-head-tools">
                <ul class="tyn-list-inline gap gap-3">
                    <li><a class="btn btn-icon btn-light btn-md btn-pill" href="chat-bot-welcome.html">
                            <!-- plus-lg -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                            </svg>
                        </a></li>
                </ul>
            </div>
        </div><!-- .tyn-aside-head -->
        <div class="tyn-aside-body" data-simplebar>
            <ul class="tyn-aside-list">
                {% if recent_chats %}
                {% for chat in recent_chats %}
                    <li class="tyn-aside-item tyn-aside-item-bubbly js-toggle-main">
                        <div class="tyn-media-group">
                            <div class="tyn-media tyn-size-sm">
                                <!-- chat-quote-fill -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-quote-fill" viewBox="0 0 16 16">
                                    <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.674zm3.987-.732a.656.656 0 0 0-.005 1.31h.004a.656.656 0 0 0 .001-1.31zm-2.655 2.01c-.5 0-.907-.412-.907-.92 0-.507.406-.92.907-.92.502 0 .908.413.908.92 0 .508-.406.92-.908.92z"/>
                                </svg>
                            </div>
                            <div class="tyn-media-body">
                                <div class="tyn-media-content">
                                    <div class="tyn-media-title">
                                        {{ chat.message }}
                                    </div>
                                    <!-- <div class="tyn-media-subtitle">
                                        {{ chat.response }}
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {%else%}
                <li class="tyn-aside-item tyn-aside-item-bubbly js-toggle-main">
                    <div class="tyn-media-group">
                        <div class="tyn-media tyn-size-sm">
                            <!-- chat-quote-fill -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-quote-fill" viewBox="0 0 16 16">
                                <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.674zm3.987-.732a.656.656 0 0 0-.005 1.31h.004a.656.656 0 0 0 .001-1.31zm-2.655 2.01c-.5 0-.907-.412-.907-.92 0-.507.406-.92.907-.92.502 0 .908.413.908.92 0 .508-.406.92-.908.92z"/>
                            </svg>
                        </div>
                        <div class="tyn-media-body">
                            <div class="tyn-media-content">
                                <div class="tyn-media-title">
                                    No recent chats. Reload conversation
                                </div>
                                <!-- <div class="tyn-media-subtitle">
                                    {{ chat.response }}
                                </div> -->
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>

        </div><!-- .tyn-aside-body -->

        <div class="tyn-aside-foot">
            <div class="w-100">
                <ul class="row gx-3">
                    <li class="col-6">
                        <a href="pricing.html" class="btn btn-light tyn-size-lg w-100 flex-column py-2 pt-3">
                            <!-- person-up -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-up" viewBox="0 0 16 16">
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                                <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
                            </svg>
                            <span class="small text-nowrap mt-n1">Become Pro</span>
                        </a>
                    </li>
                    <li class="col-6">
                        <form action="{% url 'clear_chats' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-light tyn-size-lg w-100 flex-column py-2 pt-3" type="submit">
                                <!-- trash icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6a.5.5 0 0 0-.5-.5zm-2.655 2.01c-.5 0-.907-.412-.907-.92 0-.507.406-.92.907-.92.502 0 .908.413.908.92 0 .508-.406.92-.908.92z"/>
                                </svg>
                                <span class="small text-nowrap mt-n1">Clear Archive</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div><!-- .tyn-aside-head -->
    </div><!-- .tyn-aside -->

