{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <title>ChatBot | ConnectMe | Chat Application HTML Template</title>
    <link rel="stylesheet" href="{% static 'css/bundle8b75.css' %}">
    <link rel="stylesheet" href="{% static 'css/app8b75.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body class="tyn-body">

    <div class="tyn-root">

 <!-- Load Header or NavBar Here -->
 {% include 'includes/navbar.html' %}

 <!-- LOAD CONTENT HERE -->
 {% block content %}

 <!-- OUR CONTENT GOES HERE -->

 {% endblock %}

 <!-- LOAD FOOTER HERE -->
 {% include 'includes/footer.html' %}
